nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 139px;
    height: 60px;
    margin: 57px 120px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.btn :hover{
    width: 132px;
    height: 19px;
    font-style: Semi Bold;
    font-weight: ;
    color: rgba(255, 255, 255, 1);
    background-color:green;
    text-align: left;
}