nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 139px;
    height: 60px;
    margin: 57px 120px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.btn :hover{
    width: 132px;
    height: 19px;
    font-style:Semi Bold;
    font-weight:500 ;
    color: rgba(255, 255, 255, 1);
    background-color:green;
    text-align: left;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif; 
}

.hero-section {
    background: linear-gradient(rgba(10, 25, 47, 0.8), rgba(10, 25, 47, 0.8)), 
                url('./assets/hero-bg.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.container {
    max-width: 800px;
    padding: 20px;
}


.sample-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 16px;
    border-radius: 50px;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 20px;
}

.sample {
    height: 8px;
    width: 8px;
    background-color: #4ade80;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}


h1 {
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 20px;
}

.highlight {
    color: #4ade80; 
}

p {
    font-size: 18px;
    color: #ccd6f6;
    margin-bottom: 40px;
}

.hero-btns {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn-2 {
    background-color: #3e8e63 !important;
    color: white;
    border: none;
    padding:12px 16px 12px 16px ;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}